<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string></string>
	<key>LOG_LEVEL</key>
	<string>DEBUG</string>
	<key>API</key>
	<dict>
		<key>AUTH</key>
		<string>auth/api-auth-token/</string>
	</dict>
</dict>
</plist>
